<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>526409823978-u1te0p1kjiv519i4sl5o9gpkhaqk102o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.526409823978-u1te0p1kjiv519i4sl5o9gpkhaqk102o</string>
	<key>API_KEY</key>
	<string>AIzaSyD57dOCTIwRvYQkZ1913ZfrZnnlAJZ1mDA</string>
	<key>GCM_SENDER_ID</key>
	<string>526409823978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fit.track.fitTrack</string>
	<key>PROJECT_ID</key>
	<string>fit-track-edd58</string>
	<key>STORAGE_BUCKET</key>
	<string>fit-track-edd58.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:526409823978:ios:8ce4dce0df58165e028993</string>
</dict>
</plist>